<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
    <body>
        <h2>Приветствуем в картинг клубе</h2>
        {% if user %}
        <p>Привет, {{ user.username }}!</p>
        <a href="/logout">Logout</a>
        <h2>Тебе доступны:</h2>
        <ul>
            {% for view in views %}
            <li onclick="window.location.href='/db/{{ user.id }}/view/{{ view }}'">{{ view }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    {% endif %}
    </body>
</html>